<div class="list-controls bottom-spacing">
  <div class="container">
    <section class="navigation-container">
      {{navigation-bar navItems=navItems filterMode=filterMode}}
    </section>
  </div>
</div>
